@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-marquee: marquee 10 linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

/* Dekh bhai ye ye jo hai like theme inline ye hamm var jha hota hai wha p use karet hai okkh!.. */
/* dekh bhai isme hamm root ka jo hai wo actaully sara jagh use kar lenge apne pure websites mai okkh!. */
